---

- name: ensure Nextcloud environment works
  hosts: nc.bayofrum.net
  become: true
  tasks:
  - name: install required PHP modules
    pkgng:
      name:
        - php84-ctype
        - php84-curl
        - php84-dom
        - php84-filter
        - php84-fileinfo
        - php84-gd
        - php84-xml
        - php84-mbstring
        - php84-opcache
        - php84-posix
        - php84-session
        - php84-simplexml
        - php84-sysvsem
        - php84-xmlreader
        - php84-xmlwriter
        - php84-zip
        - php84-zlib
        - php84-pdo_mysql
        - php84-bz2
        - php84-intl
        - php84-sodium
        - php84-ldap
        - php84-ftp
        - php84-bcmath
        - php84-gmp
        - php84-exif
        - php84-pecl-APCu
        - php84-pecl-redis
        - php84-pecl-imagick
  - name: add cronjob
    ansible.builtin.template:
      src: '../../templates/cron.d/nextcloud'
      dest: '/etc/cron.d/nextcloud'
      owner: root
      group: wheel
      mode: '0644'
  - name: enable rewrite targets
    ansible.builtin.template:
      src: "{{ item.src }}"
      dest: "{{ item.dest }}"
      owner: root
      group: wheel
      mode: '0644'
    loop:
      - { src: '../../templates/apache24/modules.d/106_nextcloud.conf', dest: '/usr/local/etc/apache24/modules.d/106_nextcloud.conf' }
