---

- name: install and configure openemr
  hosts: none
  become: true
  vars:
    location: /usr/local/www/data/openemr
  tasks:
  - name: install required PHP modules
    pkgng:
      name:
        - php84-bz2
        - php84-ctype
        - php84-curl
        - php84-dom
        - php84-exif
        - php84-fileinfo
        - php84-filter
        - php84-gd
        - php84-gettext
        - php84-iconv
        - php84-intl
        - php84-ldap
        - php84-mbstring
        - php84-mysqli
        - php84-pcntl
        - php84-pdo
        - php84-pdo_mysql
        - php84-pdo_sqlite
        - php84-phar
        - php84-session
        - php84-simplexml
        - php84-soap
        - php84-sodium
        - php84-sqlite3
        - php84-tokenizer
        - php84-xml
        - php84-xmlreader
        - php84-xmlwriter
        - php84-zip
        - php84-zlib
  - name: check openemr exists
    ansible.builtin.stat:
      path: '{{ location }}'
    register: openemr_exists
  - name: install openemr
    ansible.builtin.git:
      repo: https://github.com/openemr/openemr
      dest: '{{ location }}'
    when: openemr_exists.stat.isdir is not defined or not openemr_exists.stat.isdir
  - name: compose
    community.general.composer:
      command: install
      arguments: --no-dev
      working_dir: '{{ location }}'
    when: openemr_exists.stat.isdir is not defined or not openemr_exists.stat.isdir
  - name: npm install
    community.general.npm:
      path: '{{ location }}'
      state: present
    when: openemr_exists.stat.isdir is not defined or not openemr_exists.stat.isdir
  - name: npm run build
    ansible.builtin.command:
      cmd: npm run build
      args:
        chdir: "{{ location }}"
    when: openemr_exists.stat.isdir is not defined or not openemr_exists.stat.isdir
  - name: make sure www owns all
    ansible.builtin.command:
      cmd: 'chown -R www:www {{ location }}'
    when: openemr_exists.stat.isdir is not defined or not openemr_exists.stat.isdir
  - name: configure php
    ansible.builtin.lineinfile:
      path: /usr/local/etc/php.ini-production
      regexp: "{{ item.regexp }}"
      line: "{{ item.line }}"
    loop:
      - { regexp: '^max_input_time', line: 'max_input_time = -1' }
      - { regexp: '^mysqli.allow_local_infile', line: 'mysqli.allow_local_infile = On' }
      - { regexp: '^file_uploads', line: 'file_uploads = On' }
      - { regexp: '^upload_max_filesize', line: 'upload_max_filesize = 500M' }
  - name: add Apache config file
    ansible.builtin.template:
      src: "{{ item.src }}"
      dest: "{{ item.dest }}"
      owner: root
      group: wheel
      mode: '0644'
    loop:
      - { src: '../../templates/apache24/modules.d/108_openemr.conf', dest: '/usr/local/etc/apache24/modules.d/108_openemr.conf' }
